.container{
    background-color: #ebebeb;
    max-width: 1000px;
    margin-top: 50px;
    margin: auto;
    align-items: center;
 }
 
 .container__list{
     background-color: white;
     margin-top: 10px;
 }

 @media ( max-width: 768px) {
    .container{
        margin-left: 2px;
    }
}

    @media   (min-width: 769px) and ( max-width: 1119px) {
        .container{
            margin-left: 150px;
        }
}