.form{
    display: flex;
    padding-bottom: 20px;
    background-color: white;
}

.formTask{
    display: flex;
    align-items:center;
    flex-basis: 100%;
    margin: 20px 20px 0px 20px;
    padding: 5px 0px 5px 0px;
}

.form__title{
    background-color: white;
    padding: 20px;
    border: 1px solid #ebebeb;
}


.form__list{
    padding: 10px 0px 20px 20px;
}

.formButton{
    display: flex;
    flex-basis: 12%;
    height: 32px;
    background-color: teal; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    align-self: self-end;
    margin-right: 10px;  
}

@media ( max-width: 768px) {
   
    .form{
        flex-wrap: wrap;
    }

    .formTask{
        flex-basis: 100%; 
    }

    .formButton{
        margin: 20px 20px 0px 20px;
        flex-basis: 100%;
    }
}