.form{
    display: flex;
    padding-bottom: 20px;
    background-color: white;
}

.form__header{
    background-color: white;
    padding: 20px;
    border: 1px solid #ebebeb;
}

.form__task{
    display: flex;
    align-items:center;
    flex-basis: 100%;
    margin: 20px 20px 0px 20px;
    padding: 5px 0px 5px 0px;
}

.formHiden__buttons {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.form__title{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 20px;;
}

@media(max-width: 767px) {
    .form__title {
        grid-template-columns: 1fr;
    }
    
    .formHiden__buttons{
        flex-direction: column;
    }
    
}

.form__list{
    padding: 10px 0px 20px 20px;
    list-style-type: none;
}

.form__button{
    display: flex;
    flex-basis: 12%;
    height: 32px;
    background-color: teal; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    align-self: flex-end;
    margin-right: 10px;  
    transition-duration: 0.5s, 0.5s;
}

.form__button:hover {
    background-color: hsl(180, 100%, 30%);
    transform: scale(1.1);
}

.form__button:active {
    background-color: hsl(180, 100%, 35%);
}

@media ( max-width: 768px) {
   
    .form{
        flex-wrap: wrap;
    }

    .form__task{
        flex-basis: 100%; 
    }

    .form__button{
        margin: 20px 20px 0px 20px;
        flex-basis: 100%;
    }
}